html {
  font-size: 1em;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 32px;
  color: #292a34;
  letter-spacing: 0.3px;
  text-align: center;
  line-height: 38.4px;
}

h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 25px;
  color: #292a34;
  letter-spacing: 0.3px;
  text-align: center;
  line-height: 32.77px;
}

h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 19.2px;
  color: #292a34;
  letter-spacing: 0.3px;
  text-align: center;
  line-height: 23.68px;
}

h4 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  color: #292a34;
  letter-spacing: 0.3px;
  text-align: center;
  line-height: 27px;
}

h5 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  color: #292a34;
  letter-spacing: 0.3px;
  line-height: 24px;
  text-align: left;
}

h6 {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 16px;
  color: #4f5059;
  letter-spacing: 0.3px;
  text-align: center;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 0px;
}

p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  color: #4f5059;
  letter-spacing: 0.3px;
  text-align: center;
  line-height: 23px;
}

button {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12.32px;
  color: #ffffff;
  letter-spacing: 0.3px;
  text-align: center;
  width: 90%;
  height: 42px;
  border-radius: 6.25rem;
  background-color: #0077ff;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.buttonOutline {
  background-color: #ffffff;
  border: 2px solid #e9e9e9;
  color: #292a34;
}

a {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: #292a34;
  letter-spacing: 0.3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

a:active {
  color: #0077ff;
}

@media (min-width: 560px) {
  h4 {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 48px;
    text-align: left;
  }

  h2 {
    font-size: 32px;
    line-height: 40.96px;
    text-align: left;
  }

  h3 {
    font-size: 24px;
    line-height: 29.6px;
  }

  p {
    text-align: left;
  }

  button {
    font-size: 12px;
    width: 150px;
    height: 40px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 50px;
    line-height: 60px;
  }

  h2 {
    font-size: 40px;
    line-height: 51.2px;
  }

  h3 {
    font-size: 30px;
    line-height: 37px;
    text-align: left;
  }

  h4 {
    font-size: 18px;
  }

  button {
    font-size: 14.78px;
    width: 150px;
    height: 45px;
  }
}

@media (min-width: 1440px) {
  h1 {
    font-size: 64px;
    line-height: 78px;
  }

  h2 {
    font-size: 50px;
    line-height: 64px;
  }

  h3 {
    font-size: 40px;
    line-height: 50px;
  }

  p {
    font-size: 18px;
    line-height: 27px;
  }

  button {
    font-size: 14px;
    width: 170px;
    height: 48px;
  }
}

.LandingPage {
  background-image: url("../../Assets/mobilebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.even {
  background-color: rgba(245, 245, 250, 0.48);
  padding: 0.01% 0;
}
.anchor {
  display: block;
  position: relative;
  top: -20px;
  visibility: hidden;
}
.PrefixSubSection {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titlePrefixLine {
  justify-self: end;
  align-self: center;
  width: 28px;
  border: 2px solid #292a34;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  margin-right: 5%;
  height: 0;
}
.logo {
  width: 120px;
}
.prefixMargins {
  margin-top: 0;
  margin-bottom: 0;
}
.titleMargins {
  margin-top: 0;
  padding-top: 3%;
}
.statistic {
  color: #07f;
  margin-bottom: 0;
  padding-top: 8%;
}
.statisticDesc {
  margin-top: 5px;
}
.illustrationLarge {
  width: 100%;
  padding: 5% 0;
}
.illustrationMedium {
  width: 100%;
  padding: 5% 0;
}
@media (min-width: 400px) {
  .illustrationLarge {
    width: 80%;
  }
  .illustrationMedium {
    width: 90%;
  }
}
@media (min-width: 500px) {
  .illustrationLarge {
    width: 70%;
  }
  .illustrationMedium {
    width: 85%;
  }
}
@media (min-width: 560px) {
  .illustrationLarge {
    width: 60%;
  }
  .illustrationMedium {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .illustrationLarge {
    width: 100%;
  }
  .illustrationMedium {
    width: 100%;
  }
  .logo {
    width: 130px;
  }
  .PrefixSubSection {
    align-items: center;
    justify-content: left;
  }
}
@media (min-width: 1440px) {
  .logo {
    width: 190px;
  }
  .titleMargins {
    padding-top: 2%;
  }
}
.LPsection1 {
  margin: 7% 5%;
  margin-top: 4%;
}
.LPsection2 {
  margin: 7% 5%;
}
.LPsection3 {
  margin: 7% 5%;
}
.LPsection4 {
  margin: 7% 5%;
}
.LPsection5 {
  margin: 7% 5%;
}
.LPsection6 {
  margin: 7% 5%;
}
.LPsection7 {
  margin: 7% 5%;
}
.LPsection8 {
  margin: 7% 5%;
}
.LPsection9 {
  margin: 7% 5%;
}
.LPsection10 {
  margin: 7% 5%;
}
.LPsection11 {
  padding: 10% 0;
  padding-bottom: 0;
}
@media (min-width: 560px) {
  .LPsection11 {
    margin-bottom: 0;
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  .LPsection11 {
    margin-bottom: 0;
    padding-top: 0;
  }
  #section11Logo {
    padding: 0;
    padding-top: 0;
  }
}
@media (min-width: 1124px) {
  .LPsection1 {
    margin: 7% 10%;
    margin-top: 4%;
  }
  .LPsection2 {
    margin: 7% 10%;
  }
  .LPsection3 {
    margin: 7% 10%;
  }
  .LPsection4 {
    margin: 7% 10%;
  }
  .LPsection5 {
    margin: 7% 10%;
  }
  .LPsection6 {
    margin: 7% 10%;
  }
  .LPsection7 {
    margin: 7% 10%;
  }
  .LPsection8 {
    margin: 7% 10%;
  }
  .LPsection9 {
    margin: 7% 10%;
  }
  .LPsection10 {
    margin: 7% 10%;
  }
  #section11Logo {
    padding-left: 10%;
  }
  .footerSubSectionBG {
    margin-top: 2%;
    padding-left: 10%;
  }
}
@media (min-width: 1340px) {
  .LPsection1 {
    margin: 7% 15%;
    margin-top: 4%;
  }
  .LPsection2 {
    margin: 7% 15%;
  }
  .LPsection3 {
    margin: 7% 15%;
  }
  .LPsection4 {
    margin: 7% 15%;
  }
  .LPsection5 {
    margin: 7% 15%;
  }
  .LPsection6 {
    margin: 7% 15%;
  }
  .LPsection7 {
    margin: 7% 15%;
  }
  .LPsection8 {
    margin: 7% 15%;
  }
  .LPsection9 {
    margin: 7% 15%;
  }
  .LPsection10 {
    margin: 7% 15%;
  }
  #section11Logo {
    padding-left: 40%;
  }
  .footerSubSectionBG {
    padding-left: 15%;
  }
  .footerLinks {
    padding-left: 40%;
  }
  #footerLink4 {
    padding-left: 10%;
  }
  #footerLink5 {
    padding-left: 10%;
  }
  #footerLink6 {
    padding-left: 10%;
  }
}
@media (min-width: 1440px) {
  .LPsection1 {
    margin: 7% 10%;
    margin-top: 5%;
  }
  .LPsection2 {
    margin: 7% 10%;
  }
  .LPsection3 {
    margin: 7% 10%;
  }
  .LPsection4 {
    margin: 7% 10%;
  }
  .LPsection5 {
    margin: 7% 10%;
  }
  .LPsection6 {
    margin: 7% 10%;
  }
  .LPsection7 {
    margin: 7% 10%;
  }
  .LPsection8 {
    margin: 7% 10%;
  }
  .LPsection9 {
    margin: 7% 10%;
  }
  .LPsection10 {
    margin: 7% 10%;
  }
  #section11Logo {
    padding-left: 10%;
  }
  .footerSubSectionBG {
    padding-left: 10%;
  }
}
@media (min-width: 1640px) {
  .LPsection1 {
    margin: 7% 15%;
    margin-top: 5%;
  }
  .LPsection2 {
    margin: 7% 15%;
  }
  .LPsection3 {
    margin: 7% 15%;
  }
  .LPsection4 {
    margin: 7% 15%;
  }
  .LPsection5 {
    margin: 7% 15%;
  }
  .LPsection6 {
    margin: 7% 15%;
  }
  .LPsection7 {
    margin: 7% 15%;
  }
  .LPsection8 {
    margin: 7% 15%;
  }
  .LPsection9 {
    margin: 7% 15%;
  }
  .LPsection10 {
    margin: 7% 15%;
  }
  #section11Logo {
    padding-left: 40%;
  }
  .footerSubSectionBG {
    padding-left: 15%;
  }
}
.LPsection1 {
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "header" "title" "illustration1" "body" "button1" "button2";
  align-items: center;
  justify-items: center;
}
.Header {
  grid-area: header;
  width: 100%;
  padding: 10% 5%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "logo hamburger";
  align-items: center;
}
.headerLinks {
  display: none;
}
#section1ContactButton {
  display: none;
}
#section1Title {
  grid-area: title;
}
#section1Body {
  grid-area: body;
}
#HeaderLogo {
  grid-area: logo;
  align-self: left;
  padding-left: 15%;
}
#HeaderHamburger {
  grid-area: hamburger;
  justify-self: right;
  width: 22px;
  padding-right: 15%;
}
#illustration1 {
  grid-area: illustration1;
}
#section1Button1 {
  grid-area: button1;
}
#section1Button2 {
  grid-area: button2;
}
.buttonMargins {
  margin-top: 5%;
}
@media (min-width: 400px) {
  .Header {
    padding: 5% 5%;
  }
}
@media (min-width: 560px) {
  .LPsection1 {
    grid-template-columns: 50% 50%;
    grid-template-areas: "header header" "title title" "illustration1 illustration1" "body body" "button1 button2";
  }
  .buttonMargins {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
@media (min-width: 768px) {
  .Header {
    padding: 0;
    padding-bottom: 5%;
  }
  #HeaderHamburger {
    display: none;
  }
  .headerLinks {
    display: grid;
    font-size: 12px;
  }
  .buttonMargins {
    margin-top: 17px;
    margin-bottom: 0;
  }
  #section1ContactButton {
    display: grid;
    height: 42px;
    grid-area: section1ContactButton;
    justify-self: end;
    width: 130px;
  }
  #headerLink1 {
    grid-area: headerLink1;
  }
  #headerLink2 {
    grid-area: headerLink2;
  }
  #headerLink3 {
    grid-area: headerLink3;
  }
  #headerLink4 {
    grid-area: headerLink4;
  }
  #headerLink5 {
    grid-area: headerLink5;
  }
  .Header {
    grid-template-columns: 20% 12% 12% 12% 16% 8% 20%;
    grid-template-areas: "logo headerLink1 headerLink2 headerLink3 headerLink4 headerLink5 section1ContactButton";
  }
  #HeaderLogo {
    padding-left: 0;
  }
  #HeaderHamburger {
    width: 22px;
    padding-right: 0;
  }
  .LPsection1 {
    grid-template-columns: 25% 33% 42%;
    grid-template-areas: "header header header" "title title illustration1" "body body illustration1" "button1 button2 illustration1";
  }
  #section1Button1 {
    justify-self: start;
  }
  #section1Button2 {
    justify-self: start;
  }
}
@media (min-width: 1024px) {
  .LPsection1 {
    grid-template-columns: 18% 40% 42%;
  }
  .Header {
    padding-bottom: 3%;
  }
  .buttonMargins {
    margin-top: 40px;
  }
}
@media (min-width: 1440px) {
  .LPsection1 {
    grid-template-columns: 17% 41% 42%;
  }
  #section1Title {
    justify-self: start;
  }
  #section1Body {
    justify-self: start;
    width: 80%;
  }
  .Header {
    grid-template-columns: 20% 12% 12% 12% 14% 10% 20%;
    grid-template-areas: "logo headerLink1 headerLink2 headerLink3 headerLink4 headerLink5 section1ContactButton";
  }
  .headerLinks {
    display: grid;
    font-size: 16px;
    justify-self: end;
  }
  #headerLink5 {
    justify-self: center;
  }
  #section1ContactButton {
    width: 170px;
  }
}
.LPsection2 {
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "Section2PrefixSubSection" "section2Title" "illustration2" "section2Body";
  align-items: center;
  justify-items: center;
}
#Section2PrefixSubSection {
  grid-area: Section2PrefixSubSection;
}
#section2Line {
  justify-self: end;
  grid-area: section2Line;
}
#section2Prefix {
  grid-area: section2Prefix;
}
#section2Title {
  grid-area: section2Title;
}
#illustration2 {
  grid-area: illustration2;
}
#section2Body {
  grid-area: section2Body;
}
@media (min-width: 768px) {
  .LPsection2 {
    justify-items: left;
    grid-template-columns: 50% 50%;
    grid-template-areas: "illustration2 Section2PrefixSubSection " "illustration2 section2Title" "illustration2 section2Body";
  }
}
.LPsection3 {
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "Section3PrefixSubSection" "section3Title" "illustration3" "section3Body";
  align-items: center;
  justify-items: center;
}
#Section3PrefixSubSection {
  grid-area: Section3PrefixSubSection;
}
#section3Line {
  justify-self: end;
  grid-area: section3Line;
}
#section3Prefix {
  grid-area: section3Prefix;
}
#section3Title {
  grid-area: section3Title;
}
#illustration3 {
  grid-area: illustration3;
  width: 85%;
}
#section3Body {
  grid-area: section3Body;
}
@media (min-width: 768px) {
  .LPsection3 {
    justify-items: left;
    grid-template-columns: 50% 50%;
    grid-template-areas: " Section3PrefixSubSection illustration3 " " section3Title illustration3" " section3Body illustration3";
  }
}
.LPsection4 {
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "Section4PrefixSubSection" "section4Title" "illustration4" "section4Body";
  align-items: center;
  justify-items: center;
}
#Section4PrefixSubSection {
  grid-area: Section4PrefixSubSection;
}
#section4Line {
  justify-self: end;
  grid-area: section4Line;
}
#section4Prefix {
  grid-area: section4Prefix;
}
#section4Title {
  grid-area: section4Title;
}
#illustration4 {
  grid-area: illustration4;
  width: 85%;
}
#section4Body {
  grid-area: section4Body;
}
@media (min-width: 768px) {
  .LPsection4 {
    justify-items: left;
    grid-template-columns: 50% 50%;
    grid-template-areas: "illustration4 Section4PrefixSubSection  " "illustration4 section4Title" "illustration4 section4Body ";
  }
}
.LPsection5 {
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "section5SubTitle" "section5Title" "section5StatTitle1" "section5StatDesc1" "section5StatTitle2" "section5StatDesc2" "section5StatTitle3" "section5StatDesc3";
  align-items: center;
  justify-items: center;
}
.statisticBody {
  display: none;
}
#section5SubTitle {
  grid-area: section5SubTitle;
}
#section5Title {
  grid-area: section5Title;
  margin-top: 5px;
}
#section5StatTitle1 {
  grid-area: section5StatTitle1;
}
#section5StatDesc1 {
  grid-area: section5StatDesc1;
}
#section5StatTitle2 {
  grid-area: section5StatTitle2;
}
#section5StatDesc2 {
  grid-area: section5StatDesc2;
}
#section5StatTitle3 {
  grid-area: section5StatTitle3;
}
#section5StatDesc3 {
  grid-area: section5StatDesc3;
}
@media (min-width: 560px) {
  .LPsection5 {
    grid-template-columns: 50% 50%;
    grid-template-areas: "section5SubTitle section5SubTitle" "section5Title section5Title" "section5StatTitle1 section5StatTitle2" "section5StatDesc1 section5StatDesc2" "section5StatTitle3 section5StatTitle3" "section5StatDesc3 section5StatDesc3";
  }
}
@media (min-width: 768px) {
  .statisticBody {
    display: flex;
    width: 80%;
    text-align: center;
    margin: 0;
  }
  .statisticDesc {
    margin-top: 10%;
  }
  .LPsection5 {
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: "section5SubTitle section5SubTitle section5SubTitle" "section5Title section5Title section5Title" "section5StatTitle1 section5StatTitle2 section5StatTitle3" "section5StatDesc1 section5StatDesc2 section5StatDesc3";
  }
}
.LPsection6 {
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "section6SubTitle" "section6Title" "section6Desc" "topDeveloperBadge" "topDeveloperTitle" "topDeveloperDesc" "editorsChoiceBadge" "editorsChoiceTitle" "editorsChoiceDesc";
  align-items: center;
  justify-items: center;
}
#section6SubTitle {
  grid-area: section6SubTitle;
}
#section6Title {
  margin-top: 5px;
  grid-area: section6Title;
  text-align: center;
}
#section6Desc {
  margin-top: 10px;
  grid-area: section6Desc;
  text-align: center;
}
#topDeveloperBadge {
  padding: 10% 0;
  padding-bottom: 2%;
  grid-area: topDeveloperBadge;
  width: 80%;
}
#topDeveloperTitle {
  grid-area: topDeveloperTitle;
  margin-bottom: 0;
  display: none;
}
#topDeveloperDesc {
  grid-area: topDeveloperDesc;
  text-align: center;
  width: 80%;
}
#editorsChoiceBadge {
  padding: 10% 0;
  padding-bottom: 2%;
  grid-area: editorsChoiceBadge;
  width: 80%;
}
#editorsChoiceTitle {
  grid-area: editorsChoiceTitle;
  margin-bottom: 0;
  display: none;
}
#editorsChoiceDesc {
  grid-area: editorsChoiceDesc;
  width: 80%;
  text-align: center;
}
@media (min-width: 450px) {
  #topDeveloperBadge {
    width: 60%;
  }
  #editorsChoiceBadge {
    width: 60%;
  }
}
@media (min-width: 600px) {
  #topDeveloperBadge {
    width: 55%;
  }
  #editorsChoiceBadge {
    width: 55%;
  }
}
@media (min-width: 768px) {
  .LPsection6 {
    grid-template-columns: 50% 50%;
    grid-template-areas: "section6SubTitle section6SubTitle" "section6Title section6Title" "section6Desc section6Desc" "topDeveloperBadge editorsChoiceBadge" "topDeveloperTitle editorsChoiceTitle" "topDeveloperDesc editorsChoiceDesc";
  }
  #section6Title {
    margin: 5px;
    width: 80%;
  }
  #section6Desc {
    margin: 10px;
    width: 70%;
  }
  #topDeveloperTitle {
    margin: 0;
  }
  #editorsChoiceTitle {
    margin: 0;
  }
  #editorsChoiceDesc {
    padding: 0 5%;
  }
  #topDeveloperDesc {
    padding: 0 5%;
  }
}
.LPsection7 {
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "section7Title" "illustration5" "section7Icon1" "section7FeatureTitle1" "section7FeatureDesc1" "section7Icon2" "section7FeatureTitle2" "section7FeatureDesc2" "section7Icon3" "section7FeatureTitle3" "section7FeatureDesc3";
  align-items: center;
  justify-items: center;
}
#section7Title {
  grid-area: section7Title;
  margin: 0;
}
#illustration5 {
  grid-area: illustration5;
}
#section7Icon1 {
  grid-area: section7Icon1;
}
#section7FeatureTitle1 {
  grid-area: section7FeatureTitle1;
}
#section7FeatureDesc1 {
  grid-area: section7FeatureDesc1;
}
#section7Icon2 {
  grid-area: section7Icon2;
}
#section7FeatureTitle2 {
  grid-area: section7FeatureTitle2;
}
#section7FeatureDesc2 {
  grid-area: section7FeatureDesc2;
}
#section7Icon3 {
  grid-area: section7Icon3;
}
#section7FeatureTitle3 {
  grid-area: section7FeatureTitle3;
}
#section7FeatureDesc3 {
  grid-area: section7FeatureDesc3;
}
.section7Icon {
  margin-top: 5%;
  width: 48px;
}
.section7Title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.section7Desc {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}
@media (min-width: 768px) {
  .LPsection7 {
    grid-template-columns: 50% 50%;
    grid-template-areas: "section7Title section7Title" "illustration5 illustration5" "section7Icon1 section7Icon2" "section7FeatureTitle1 section7FeatureTitle2" "section7FeatureDesc1 section7FeatureDesc2" "section7Icon3 section7Icon3" "section7FeatureTitle3 section7FeatureTitle3" "section7FeatureDesc3 section7FeatureDesc3";
  }
  #illustration5 {
    width: 60%;
  }
  .section7Desc {
    padding: 0 5%;
  }
}
@media (min-width: 1024px) {
  .LPsection7 {
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-areas: "section7Title section7Title section7Title" "illustration5 illustration5 illustration5" "section7Icon1 section7Icon2 section7Icon3" "section7FeatureTitle1 section7FeatureTitle2 section7FeatureTitle3" "section7FeatureDesc1 section7FeatureDesc2 section7FeatureDesc3";
  }
  #illustration5 {
    width: 50%;
  }
  .section7Desc {
    padding: 0 5%;
  }
}
.LPsection8 {
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "Section8PrefixSubSection" "section8Title" "section8Icon1" "section8FeatureTitle1" "section8FeatureDesc1" "section8Icon2" "section8FeatureTitle2" "section8FeatureDesc2" "section8Icon3" "section8FeatureTitle3" "section8FeatureDesc3" "section8Icon4" "section8FeatureTitle4" "section8FeatureDesc4" "section8Icon5" "section8FeatureTitle5" "section8FeatureDesc5";
  align-items: center;
  justify-items: center;
}
#Section8PrefixSubSection {
  grid-area: Section8PrefixSubSection;
  align-self: end;
}
#section8Line {
  grid-area: section8Line;
}
#section8Prefix {
  width: 100%;
  grid-area: section8Prefix;
}
#section8Title {
  grid-area: section8Title;
  padding-left: 0;
  padding-bottom: 10%;
  align-self: start;
}
#section8Icon1 {
  grid-area: section8Icon1;
}
#section8FeatureTitle1 {
  grid-area: section8FeatureTitle1;
}
#section8FeatureDesc1 {
  grid-area: section8FeatureDesc1;
}
#section8Icon2 {
  grid-area: section8Icon2;
}
#section8FeatureTitle2 {
  grid-area: section8FeatureTitle2;
}
#section8FeatureDesc2 {
  grid-area: section8FeatureDesc2;
}
#section8Icon3 {
  grid-area: section8Icon3;
}
#section8FeatureTitle3 {
  grid-area: section8FeatureTitle3;
}
#section8FeatureDesc3 {
  grid-area: section8FeatureDesc3;
}
#section8Icon4 {
  grid-area: section8Icon4;
}
#section8FeatureTitle4 {
  grid-area: section8FeatureTitle4;
}
#section8FeatureDesc4 {
  grid-area: section8FeatureDesc4;
}
#section8Icon5 {
  grid-area: section8Icon5;
}
#section8FeatureTitle5 {
  grid-area: section8FeatureTitle5;
}
#section8FeatureDesc5 {
  grid-area: section8FeatureDesc5;
}
.section8Icon {
  margin-top: 5%;
  width: 32px;
}
.section8Title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.section8Desc {
  margin-top: 0;
  margin-bottom: 10px;
}
@media (min-width: 560px) {
  .LPsection8 {
    grid-template-columns: 50% 50%;
    grid-template-areas: "Section8PrefixSubSection section8Icon1" "section8Title section8FeatureTitle1" "section8Title section8FeatureDesc1" "section8Icon2 section8Icon3" "section8FeatureTitle2 section8FeatureTitle3" "section8FeatureDesc2 section8FeatureDesc3" "section8Icon4 section8Icon5" "section8FeatureTitle4 section8FeatureTitle5" "section8FeatureDesc4 section8FeatureDesc5";
  }
  .s8align {
    text-align: left;
    justify-self: left;
  }
  .section8Icon {
    margin-top: 10%;
  }
  #section8Icon1 {
    margin-top: 5%;
  }
  .section8Desc {
    padding-right: 5%;
  }
}
@media (min-width: 1024px) {
  #section8Title {
    margin: 0;
    padding: 0;
  }
  .LPsection8 {
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-areas: "Section8PrefixSubSection section8Icon1 section8Icon2" "section8Title section8FeatureTitle1 section8FeatureTitle2" "section8Title section8FeatureDesc1 section8FeatureDesc2" "section8Icon3 section8Icon4 section8Icon5" "section8FeatureTitle3 section8FeatureTitle4 section8FeatureTitle5" "section8FeatureDesc3 section8FeatureDesc4 section8FeatureDesc5";
  }
}
.LPsection9 {
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "section9SubTitle" "section9Title" "section9BoxGroup";
  align-items: center;
  justify-items: center;
}
#section9BoxGroup {
  width: 100%;
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-area: section9BoxGroup;
  grid-template-columns: 100%;
  grid-template-areas: "section9Box1" "section9Box2" "section9Box3" "section9Box4";
}
.section9Box {
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-items: center;
}
.section9Box:hover {
  box-shadow: 5px 11px 35px #e7e7e7;
}
#section9Box1 {
  grid-template-columns: 100%;
  grid-template-areas: "section9Icon1" "section9Desc1";
}
#section9Box2 {
  grid-template-columns: 100%;
  grid-template-areas: "section9Icon2" "section9Desc2";
}
#section9Box3 {
  grid-template-columns: 100%;
  grid-template-areas: "section9Icon3" "section9Desc3";
}
#section9Box4 {
  grid-template-columns: 100%;
  grid-template-areas: "section9Icon4" "section9Desc4";
}
#section9Title {
  margin-top: 5px;
  grid-area: section9Title;
  padding-bottom: 5%;
}
#section9SubTitle {
  grid-area: section9SubTitle;
}
#section9Box1 {
  grid-area: section9Box1;
}
#section9Box2 {
  grid-area: section9Box2;
}
#section9Box3 {
  grid-area: section9Box3;
}
#section9Box4 {
  grid-area: section9Box4;
}
#section9Icon1 {
  grid-area: section9Icon1;
}
#section9Desc1 {
  grid-area: section9Desc1;
}
#section9Icon2 {
  grid-area: section9Icon2;
  justify-self: center;
  align-self: center;
}
#section9Desc2 {
  grid-area: section9Desc2;
}
#section9Icon3 {
  grid-area: section9Icon3;
}
#section9Desc3 {
  grid-area: section9Desc3;
}
#section9Icon4 {
  grid-area: section9Icon4;
}
#section9Desc4 {
  grid-area: section9Desc4;
}
.section9Icon {
  margin-top: 10%;
  margin-bottom: 2%;
  width: 32px;
}
.section9Desc {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
}
@media (min-width: 560px) {
  .LPsection9 {
    grid-template-columns: 100%;
    grid-template-areas: "section9SubTitle section9SubTitle" "section9Title section9Title" "section9BoxGroup";
  }
  #section9BoxGroup {
    grid-template-columns: 50% 50%;
    grid-template-areas: "section9Box1 section9Box2" "section9Box3 section9Box4";
  }
  #section9Box1 {
    align-self: start;
    justify-self: start;
  }
  .section9Box {
    align-items: start;
    padding: 5%;
  }
  .section9Desc {
    padding: 0;
    margin: 5%;
    align-self: start;
  }
  .section9Icon {
    align-self: start;
    padding: 0px;
    margin: 5%;
  }
  #section9Title {
    padding-bottom: 5%;
  }
  .section9Desc {
    text-align: left;
  }
  #section9Icon1 {
    justify-self: start;
  }
  #section9Icon2 {
    justify-self: start;
  }
  #section9Icon3 {
    justify-self: start;
  }
  #section9Icon4 {
    justify-self: start;
  }
  #section9Title {
    padding-bottom: 0;
  }
}
@media (min-width: 768px) {
  .section9Box {
    padding: 0;
  }
}
@media (min-width: 1024px) {
  #section9BoxGroup {
    width: 680px;
    padding-top: 3%;
  }
  #section9Title {
    width: 400px;
    text-align: center;
  }
}
.LPsection10 {
  overflow: hidden;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-areas: "section10SubTitle section10SubTitle" "section10Title section10Title" "illustration6 illustration6" "section10Body section10Body" "section10Icon1 section10Desc1" "section10Icon1 section10Value1" "section10Icon2 section10Desc2" "section10Icon2 section10Value2" "section10Icon3 section10Desc3" "section10Icon3 section10Value3";
  align-items: center;
  justify-items: center;
}
#section10SubTitle {
  grid-area: section10SubTitle;
}
#section10Title {
  margin-top: 5px;
  grid-area: section10Title;
}
#illustration6 {
  grid-area: illustration6;
}
#section10Body {
  grid-area: section10Body;
  padding-bottom: 10%;
}
#section10Icon1 {
  grid-area: section10Icon1;
}
#section10Desc1 {
  grid-area: section10Desc1;
}
#section10Value1 {
  grid-area: section10Value1;
}
#section10Icon2 {
  grid-area: section10Icon2;
}
#section10Desc2 {
  grid-area: section10Desc2;
}
#section10Value2 {
  grid-area: section10Value2;
}
#section10Icon3 {
  grid-area: section10Icon3;
}
#section10Desc3 {
  grid-area: section10Desc3;
}
#section10Value3 {
  grid-area: section10Value3;
}
.section10Desc {
  margin: 0;
  width: 100%;
  align-self: end;
}
.section10Value {
  margin: 0;
  width: 100%;
  text-align: left;
  align-self: start;
}
.section10Icon {
  padding: 25% 10%;
  width: 32px;
}
@media (min-width: 560px) {
  .LPsection10 {
    grid-template-columns: 17.5% 32.5% 17.5% 32.5%;
    grid-template-areas: "section10SubTitle section10SubTitle section10SubTitle section10SubTitle" "section10Title section10Title section10Title section10Title" "illustration6 illustration6 illustration6 illustration6 " "section10Body section10Body section10Body section10Body" "section10Icon1 section10Desc1 section10Icon2 section10Desc2" "section10Icon1 section10Value1 section10Icon2 section10Value2" "section10Icon3  section10Desc3 section10Desc3 section10Desc3" "section10Icon3   section10Value3 section10Value3 section10Value3";
  }
  #section10Title {
    margin-top: 0;
  }
  #section10Body {
    grid-area: section10Body;
    padding-bottom: 0;
  }
  #illustration6 {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .LPsection10 {
    grid-template-columns: 10% 23.3% 10% 23.3% 10% 23.3%;
    grid-template-areas: "section10SubTitle section10SubTitle section10SubTitle illustration6 illustration6 illustration6" "section10Title section10Title section10Title illustration6 illustration6 illustration6" "section10Body section10Body section10Body illustration6 illustration6 illustration6" "section10Icon1 section10Desc1 section10Icon2 section10Desc2 section10Icon3 section10Desc3" "section10Icon1 section10Value1 section10Icon2 section10Value2 section10Icon3 section10Value3";
  }
  #section10Title {
    margin: 0;
    align-self: start;
    justify-self: start;
  }
  #section10SubTitle {
    margin: 0;
    align-self: end;
    justify-self: start;
  }
  #section10Body {
    padding: 0;
    margin: 0;
    align-self: start;
  }
  #illustration6 {
    width: 80%;
  }
  .section10Icon {
    padding: 20% 10%;
  }
}
@media (min-width: 1024px) {
  #illustration6 {
    width: 70%;
  }
  .section10Icon {
    padding: 15% 10%;
  }
}
@media (min-width: 1440px) {
  #illustration6 {
    width: 65%;
  }
}
.LPsection11 {
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "section11Logo" "footerLink1" "footerLink2" "footerLink3" "footerLink4" "footerLink5" "footerLink6" "footerSubSectionBG";
  align-items: center;
  justify-items: center;
}
#LPsection11Background {
  margin-top: 5%;
}
#section11Logo {
  grid-area: section11Logo;
  padding: 5%;
  padding-bottom: 15%;
}
#footerLink1 {
  grid-area: footerLink1;
}
#footerLink2 {
  grid-area: footerLink2;
}
#footerLink3 {
  grid-area: footerLink3;
}
#footerLink4 {
  grid-area: footerLink4;
}
#footerLink5 {
  grid-area: footerLink5;
}
#footerLink6 {
  grid-area: footerLink6;
}
#footerCopyright {
  grid-area: footerCopyright;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  color: #878f9d;
  letter-spacing: 0;
  line-height: 21px;
}
.footerSubSectionBG {
  grid-area: footerSubSectionBG;
  background-color: #f8fafd;
}
.footerLinks {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: #878f9d;
  letter-spacing: 0;
  text-align: center;
  line-height: 21px;
  padding: 5%;
}
.footerSubSectionBG {
  margin-top: 10%;
  width: 100%;
  padding: 5%;
}
@media (min-width: 560px) {
  .LPsection11 {
    grid-template-columns: 50% 50%;
    grid-template-areas: "section11Logo section11Logo" "footerLink1 footerLink2" "footerLink3 footerLink4" "footerLink5 footerLink6" "footerSubSectionBG footerSubSectionBG";
  }
  #section11Logo {
    grid-area: section11Logo;
    padding: 5%;
  }
  .footerLinks {
    padding: 2%;
  }
  .footerSubSectionBG {
    margin-top: 3%;
    padding: 3%;
  }
}
@media (min-width: 768px) {
  .LPsection11 {
    grid-template-columns: 31% 23% 23% 23%;
    grid-template-areas: "section11Logo  footerLink1 footerLink4 footerLink4" "section11Logo footerLink2 footerLink5 footerLink5" "section11Logo footerLink3 footerLink6 footerLink6" "footerSubSectionBG footerSubSectionBG footerSubSectionBG footerSubSectionBG";
    align-items: start;
    text-align: left;
    justify-items: start;
  }
  #section11Logo {
    justify-self: center;
    align-self: center;
    width: 190px;
  }
  .footerLinks {
    padding: 30px;
    text-align: left;
    width: 120px;
  }
  .footerSubSectionBG {
    padding: 1.5%;
    padding-left: 5%;
  }
}
@media (min-width: 1024px) {
  .footerLinks {
    width: 150px;
  }
}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on March 21, 2019 */

@font-face {
  font-family: "Roboto";
  src: url("roboto-light-webfont.woff2") format("woff2"),
    url("roboto-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("roboto-medium-webfont.woff2") format("woff2"),
    url("roboto-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("montserrat-bold-webfont.woff2") format("woff2"),
    url("montserrat-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("montserrat-light-webfont.woff2") format("woff2"),
    url("montserrat-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
