.LandingPage {
  background-image: url("../../Assets/mobilebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.even {
  /*
  background-color: rgba(248, 253, 255, 0.8); */
  background-color: rgba(245, 245, 250, 0.48);
  padding: 0.01% 0%;
}

.anchor {
  display: block;
  position: relative;
  top: -20px;
  visibility: hidden;
}

.PrefixSubSection {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titlePrefixLine {
  justify-self: end;
  align-self: center;
  width: 28px;
  border: 2px solid #292a34;
  border-radius: 10px;
  margin: 0px;
  padding: 0px;
  margin-right: 5%;
  height: 0px;
}

.logo {
  width: 120px;
}

.prefixMargins {
  margin-top: 0px;
  margin-bottom: 0px;
}

.titleMargins {
  margin-top: 0px;
  padding-top: 3%;
}

.statistic {
  color: #0077ff;
  margin-bottom: 0px;
  padding-top: 8%;
}

.statisticDesc {
  margin-top: 5px;
}

.illustrationLarge {
  width: 100%;
  padding: 5% 0%;
}

.illustrationMedium {
  width: 100%;
  padding: 5% 0%;
}

@media (min-width: 400px) {
  .illustrationLarge {
    width: 80%;
  }

  .illustrationMedium {
    width: 90%;
  }
}

@media (min-width: 500px) {
  .illustrationLarge {
    width: 70%;
  }

  .illustrationMedium {
    width: 85%;
  }
}

@media (min-width: 560px) {
  .illustrationLarge {
    width: 60%;
  }

  .illustrationMedium {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .illustrationLarge {
    width: 100%;
  }

  .illustrationMedium {
    width: 100%;
  }

  .logo {
    width: 130px;
  }

  .PrefixSubSection {
    align-items: center;
    justify-content: left;
  }
}

@media (min-width: 1440px) {
  .logo {
    width: 190px;
  }

  .titleMargins {
    padding-top: 2%;
  }
}
