.LPsection7 {
  margin: 7% 5%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "section7Title"
    "illustration5"
    "section7Icon1"
    "section7FeatureTitle1"
    "section7FeatureDesc1"
    "section7Icon2"
    "section7FeatureTitle2"
    "section7FeatureDesc2"
    "section7Icon3"
    "section7FeatureTitle3"
    "section7FeatureDesc3";
  align-items: center;
  justify-items: center;
}

#section7Title {
  grid-area: section7Title;
  margin: 0% 0%;
}

#illustration5 {
  grid-area: illustration5;
}

#section7Icon1 {
  grid-area: section7Icon1;
}

#section7FeatureTitle1 {
  grid-area: section7FeatureTitle1;
}

#section7FeatureDesc1 {
  grid-area: section7FeatureDesc1;
}

#section7Icon2 {
  grid-area: section7Icon2;
}

#section7FeatureTitle2 {
  grid-area: section7FeatureTitle2;
}

#section7FeatureDesc2 {
  grid-area: section7FeatureDesc2;
}

#section7Icon3 {
  grid-area: section7Icon3;
}

#section7FeatureTitle3 {
  grid-area: section7FeatureTitle3;
}

#section7FeatureDesc3 {
  grid-area: section7FeatureDesc3;
}

.section7Icon {
  margin-top: 5%;
}

.section7Title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.section7Desc {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .LPsection7 {
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "section7Title section7Title"
      "illustration5 illustration5"
      "section7Icon1 section7Icon2"
      "section7FeatureTitle1 section7FeatureTitle2"
      "section7FeatureDesc1 section7FeatureDesc2"
      "section7Icon3 section7Icon3"
      "section7FeatureTitle3 section7FeatureTitle3"
      "section7FeatureDesc3 section7FeatureDesc3";
  }

  #illustration5 {
    width: 60%;
  }

  .section7Desc {
    padding: 0% 5%;
  }
}

@media (min-width: 1024px) {
  .LPsection7 {
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-areas:
      "section7Title section7Title section7Title"
      "illustration5 illustration5 illustration5"
      "section7Icon1 section7Icon2 section7Icon3"
      "section7FeatureTitle1 section7FeatureTitle2 section7FeatureTitle3"
      "section7FeatureDesc1 section7FeatureDesc2 section7FeatureDesc3";
  }

  #illustration5 {
    width: 50%;
  }

  .section7Desc {
    padding: 0% 5%;
  }
}
