.LPsection9 {
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "section9SubTitle"
    "section9Title"
    "section9BoxGroup";
  align-items: center;
  justify-items: center;
}

#section9BoxGroup {
  width: 100%;
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-area: section9BoxGroup;
  grid-template-columns: 100%;
  grid-template-areas:
    "section9Box1"
    "section9Box2"
    "section9Box3"
    "section9Box4";
}

.section9Box {
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-items: center;
}

#section9Box1 {
  grid-template-columns: 100%;
  grid-template-areas:
    "section9Icon1"
    "section9Desc1";
}

#section9Box2 {
  grid-template-columns: 100%;
  grid-template-areas:
    "section9Icon2"
    "section9Desc2";
}

#section9Box3 {
  grid-template-columns: 100%;
  grid-template-areas:
    "section9Icon3"
    "section9Desc3";
}

#section9Box4 {
  grid-template-columns: 100%;
  grid-template-areas:
    "section9Icon4"
    "section9Desc4";
}

#section9Title {
  margin-top: 5px;
  grid-area: section9Title;
  padding-bottom: 5%;
}

#section9SubTitle {
  grid-area: section9SubTitle;
}

#section9Box1 {
  grid-area: section9Box1;
}

#section9Box2 {
  grid-area: section9Box2;
}

#section9Box3 {
  grid-area: section9Box3;
}

#section9Box4 {
  grid-area: section9Box4;
}

#section9Icon1 {
  grid-area: section9Icon1;
}

#section9Desc1 {
  grid-area: section9Desc1;
}

#section9Icon2 {
  grid-area: section9Icon2;
  justify-self: center;
  align-self: center;
}

#section9Desc2 {
  grid-area: section9Desc2;
}

#section9Icon3 {
  grid-area: section9Icon3;
}

#section9Desc3 {
  grid-area: section9Desc3;
}

#section9Icon4 {
  grid-area: section9Icon4;
}

#section9Desc4 {
  grid-area: section9Desc4;
}

.section9Icon {
  margin-top: 10%;
  margin-bottom: 2%;
}

.section9Desc {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
}

@media (min-width: 560px) {
  .LPsection9 {
    grid-template-columns: 100%;
    grid-template-areas:
      "section9SubTitle section9SubTitle"
      "section9Title section9Title"
      "section9BoxGroup";
  }

  #section9BoxGroup {
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "section9Box1 section9Box2"
      "section9Box3 section9Box4";
  }

  #section9Box1 {
    align-self: start;
    justify-self: start;
  }
  .section9Box {
    align-items: start;
    padding: 5%;
  }

  .section9Desc {
    padding: 0%;
    margin: 5%;
    align-self: start;
  }

  .section9Icon {
    align-self: start;
    padding: 0%;
    margin: 5%;
  }

  #section9Title {
    padding-bottom: 5%;
  }

  .section9Desc {
    text-align: left;
  }

  #section9Icon1 {
    justify-self: start;
  }

  #section9Icon2 {
    justify-self: start;
  }

  #section9Icon3 {
    justify-self: start;
  }

  #section9Icon4 {
    justify-self: start;
  }

  #section9Title {
    padding-bottom: 0%;
  }
}

@media (min-width: 768px) {
  .section9Box {
    padding: 0%;
  }
}

@media (min-width: 1024px) {
  #section9BoxGroup {
    width: 680px;
    padding-top: 3%;
  }

  #section9Title {
    width: 400px;
    text-align: center;
  }
}
