.LPsection4 {
  margin: 7% 5%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "section4Title"
    "illustration4"
    "section4Body";
  align-items: center;
  justify-items: center;
}

#section4Title {
  grid-area: section4Title;
}

#illustration4 {
  grid-area: illustration4;
}

#section4Body {
  grid-area: section4Body;
}

@media (min-width: 768px) {
  .LPsection4 {
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "illustration4 section4Title "
      "illustration4 section4Body ";
  }
}

@media (min-width: 1440px) {
  .LPsection4 {
    margin: 7% 10%;
  }
}
