.LPsection1 {
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "header" "title" "illustration1" "body" "button1" "button2";
  align-items: center;
  justify-items: center;
}

.Header {
  grid-area: header;
  width: 100%;
  padding: 10% 5%;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "logo hamburger";
  align-items: center;
}

.headerLinks {
  display: none;
}

#section1ContactButton {
  display: none;
}

#section1Title {
  grid-area: title;
}

#section1Body {
  grid-area: body;
}

#HeaderLogo {
  grid-area: logo;
  align-self: left;
  padding-left: 15%;
}

#HeaderHamburger {
  grid-area: hamburger;
  justify-self: right;
  width: 22px;
  padding-right: 15%;
}

#illustration1 {
  grid-area: illustration1;
}

#section1Button1 {
  grid-area: button1;
}
#section1Button2 {
  grid-area: button2;
}

.buttonMargins {
  margin-top: 5%;
}

@media (min-width: 400px) {
  .Header {
    padding: 5% 5%;
  }
}

@media (min-width: 560px) {
  .LPsection1 {
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "header header"
      "title title"
      "illustration1 illustration1"
      "body body"
      "button1 button2";
  }

  .buttonMargins {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

@media (min-width: 768px) {
  .Header {
    padding: 0%;
    padding-bottom: 5%;
  }

  #HeaderHamburger {
    display: none;
  }

  .headerLinks {
    display: grid;
    font-size: 14px;
  }

  .buttonMargins {
    margin-top: 17px;
    margin-bottom: 0%;
  }

  #section1ContactButton {
    display: grid;
    height: 42px;
    grid-area: section1ContactButton;
    justify-self: end;
    width: 130px;
  }

  #headerLink1 {
    grid-area: headerLink1;
  }

  #headerLink2 {
    grid-area: headerLink2;
  }

  #headerLink3 {
    grid-area: headerLink3;
  }

  #headerLink4 {
    grid-area: headerLink4;
  }

  .Header {
    grid-template-columns: 18% 14% 14% 14% 20% 20%;
    grid-template-areas: "logo headerLink1 headerLink2 headerLink3 headerLink4 section1ContactButton";
  }

  #HeaderLogo {
    padding-left: 0%;
  }

  #HeaderHamburger {
    width: 22px;
    padding-right: 0%;
  }

  .LPsection1 {
    grid-template-columns: 25% 33% 42%;
    grid-template-areas:
      "header header header"
      "title title illustration1"
      "body body illustration1"
      "button1 button2 illustration1";
  }

  #section1Button1 {
    justify-self: start;
  }
  #section1Button2 {
    justify-self: start;
  }
}

@media (min-width: 1024px) {
  .LPsection1 {
    grid-template-columns: 18% 40% 42%;
  }

  .Header {
    padding-bottom: 3%;
  }

  .buttonMargins {
    margin-top: 40px;
  }
}

@media (min-width: 1440px) {
  .LPsection1 {
    grid-template-columns: 17% 41% 42%;
  }

  #section1Title {
    justify-self: start;
  }

  #section1Body {
    justify-self: start;
    width: 80%;
  }

  .Header {
    grid-template-columns: 26% 12% 12% 12% 12% 26%;
    grid-template-areas: "logo headerLink1 headerLink2 headerLink3 headerLink4 section1ContactButton";
  }

  .headerLinks {
    display: grid;
    font-size: 16px;
    justify-self: start;
  }

  #section1ContactButton {
    width: 150px;
  }
}
