.LPsection11 {
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "section11Logo"
    "footerLink1"
    "footerLink2"
    "footerLink3"
    "footerLink4"
    "footerLink5"
    "footerLink6"
    "footerSubSectionBG";
  align-items: center;
  justify-items: center;
}

#LPsection11Background {
  margin-top: 5%;
}

#section11Logo {
  grid-area: section11Logo;
  padding: 5%;
  padding-bottom: 15%;
}

#footerLink1 {
  grid-area: footerLink1;
}

#footerLink2 {
  grid-area: footerLink2;
}

#footerLink3 {
  grid-area: footerLink3;
}

#footerLink4 {
  grid-area: footerLink4;
}

#footerLink5 {
  grid-area: footerLink5;
}

#footerLink6 {
  grid-area: footerLink6;
}
#footerCopyright {
  grid-area: footerCopyright;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  color: #878f9d;
  letter-spacing: 0;
  line-height: 21px;
}

.footerSubSectionBG {
  grid-area: footerSubSectionBG;
  background-color: #f8fafd;
}

.footerLinks {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: #878f9d;
  letter-spacing: 0;
  text-align: center;
  line-height: 21px;
  padding: 5%;
}

.footerSubSectionBG {
  margin-top: 10%;
  width: 100%;
  padding: 5%;
}

@media (min-width: 560px) {
  .LPsection11 {
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "section11Logo section11Logo"
      "footerLink1 footerLink2"
      "footerLink3 footerLink4"
      "footerLink5 footerLink6"
      "footerSubSectionBG footerSubSectionBG";
  }

  #section11Logo {
    grid-area: section11Logo;
    padding: 5%;
  }

  .footerLinks {
    padding: 2%;
  }

  .footerSubSectionBG {
    margin-top: 3%;
    padding: 3%;
  }
}

@media (min-width: 768px) {
  .LPsection11 {
    grid-template-columns: 31% 23% 23% 23%;
    grid-template-areas:
      "section11Logo  footerLink1 footerLink4 footerLink4"
      "section11Logo footerLink2 footerLink5 footerLink5"
      "section11Logo footerLink3 footerLink6 footerLink6"
      "footerSubSectionBG footerSubSectionBG footerSubSectionBG footerSubSectionBG";
    align-items: start;
    text-align: left;
    justify-items: start;
  }

  #section11Logo {
    justify-self: center;
    align-self: center;
    width: 190px;
  }

  .footerLinks {
    padding: 30px;
    text-align: left;
    width: 120px;
  }

  .footerSubSectionBG {
    padding: 1.5%;
    padding-left: 5%;
  }
}

@media (min-width: 1024px) {
  .footerLinks {
    width: 150px;
  }
}
