.LPsection10 {
  margin: 10% 5%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-areas:
    "section10SubTitle section10SubTitle"
    "section10Title section10Title"
    "illustration6 illustration6"
    "section10Body section10Body"
    "section10Icon1 section10Desc1"
    "section10Icon1 section10Value1"
    "section10Icon2 section10Desc2"
    "section10Icon2 section10Value2"
    "section10Icon3 section10Desc3"
    "section10Icon3 section10Value3";
  align-items: center;
  justify-items: center;
}

#section10SubTitle {
  grid-area: section10SubTitle;
}

#section10Title {
  margin-top: 5px;
  grid-area: section10Title;
}

#illustration6 {
  grid-area: illustration6;
}

#section10Body {
  grid-area: section10Body;
  padding-bottom: 10%;
}

#section10Icon1 {
  grid-area: section10Icon1;
}

#section10Desc1 {
  grid-area: section10Desc1;
}

#section10Value1 {
  grid-area: section10Value1;
}

#section10Icon2 {
  grid-area: section10Icon2;
}

#section10Desc2 {
  grid-area: section10Desc2;
}

#section10Value2 {
  grid-area: section10Value2;
}

#section10Icon3 {
  grid-area: section10Icon3;
}

#section10Desc3 {
  grid-area: section10Desc3;
}

#section10Value3 {
  grid-area: section10Value3;
}

.section10Desc {
  margin: 0px;
  width: 100%;
  align-self: end;
}

.section10Value {
  margin: 0px;
  width: 100%;
  text-align: left;
  align-self: start;
}

.section10Icon {
  padding: 15% 10%;
}

@media (min-width: 560px) {
  #section10Gap {
    grid-area: gap;
  }
  .LPsection10 {
    grid-template-columns: 17.5% 32.5% 17.5% 32.5%;
    grid-template-areas:
      "section10SubTitle section10SubTitle section10SubTitle section10SubTitle"
      "section10Title section10Title section10Title section10Title"
      "illustration6 illustration6 illustration6 illustration6 "
      "section10Body section10Body section10Body section10Body"
      "section10Icon1 section10Desc1 section10Icon2 section10Desc2"
      "section10Icon1 section10Value1 section10Icon2 section10Value2"
      "section10Icon3  section10Desc3 section10Desc3 section10Desc3"
      "section10Icon3   section10Value3 section10Value3 section10Value3";
  }

  #section10Title {
    margin-top: 0px;
  }

  #section10Body {
    grid-area: section10Body;
    padding-bottom: 0%;
  }

  #illustration6 {
    padding: 0%;
  }

  #section10Icon3 {
    justify-self: end;
  }
}
