.LPsection3 {
  padding: 10% 5%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas:
    "section3Line section3Prefix"
    "section3Title section3Title"
    "illustration3 illustration3"
    "section3Body section3Body";
  align-items: center;
  justify-items: center;
}

#section3Line {
  justify-self: end;
  grid-area: section3Line;
}

#section3Prefix {
  width: 100%;
  grid-area: section3Prefix;
}

#section3Title {
  grid-area: section3Title;
}

#illustration3 {
  padding: 10% 0%;
  grid-area: illustration3;
  width: 86%;
}

#section3Body {
  grid-area: section3Body;
}
