.LPsection6 {
  margin: 7% 5%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "section6SubTitle"
    "section6Title"
    "section6Desc"
    "topDeveloperBadge"
    "topDeveloperTitle"
    "topDeveloperDesc"
    "editorsChoiceBadge"
    "editorsChoiceTitle"
    "editorsChoiceDesc";
  align-items: center;
  justify-items: center;
}

#section6SubTitle {
  grid-area: section6SubTitle;
}

#section6Title {
  margin-top: 5px;
  grid-area: section6Title;
}

#section6Desc {
  margin-top: 10px;
  grid-area: section6Desc;
  text-align: center;
}

#topDeveloperBadge {
  padding: 10% 0%;
  grid-area: topDeveloperBadge;
}

#topDeveloperTitle {
  grid-area: topDeveloperTitle;
  margin-bottom: 0px;
}

#topDeveloperDesc {
  grid-area: topDeveloperDesc;
  text-align: center;
}

#editorsChoiceBadge {
  padding: 10% 0%;
  grid-area: editorsChoiceBadge;
}

#editorsChoiceTitle {
  grid-area: editorsChoiceTitle;
  margin-bottom: 0px;
}

#editorsChoiceDesc {
  grid-area: editorsChoiceDesc;

  text-align: center;
}

@media (min-width: 768px) {
  .LPsection6 {
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "section6SubTitle section6SubTitle"
      "section6Title section6Title"
      "section6Desc section6Desc"
      "topDeveloperBadge editorsChoiceBadge"
      "topDeveloperTitle editorsChoiceTitle"
      "topDeveloperDesc editorsChoiceDesc";
  }

  #section6Title {
    margin: 5px;
  }

  #section6Desc {
    margin: 10px;
  }

  #topDeveloperTitle {
    margin: 0px;
  }

  #editorsChoiceTitle {
    margin: 0px;
  }

  #editorsChoiceDesc {
    padding: 0% 5%;
  }

  #topDeveloperDesc {
    padding: 0% 5%;
  }
}

@media (min-width: 1440px) {
  .LPsection6 {
    margin: 7% 10%;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas:
      "section6SubTitle section6SubTitle section6SubTitle "
      "section6Title topDeveloperBadge editorsChoiceBadge"
      "section6Title topDeveloperTitle editorsChoiceTitle"
      "section6Desc topDeveloperDesc editorsChoiceDesc";
  }

  #section6SubTitle {
    text-align: left;
    align-self: end;
    justify-self: start;
  }

  #section6Title {
    text-align: left;
    align-self: start;
    margin: 0px;
    padding-top: 3%;
    justify-self: start;
    width: 90%;
  }

  #section6Desc {
    justify-self: start;
    text-align: left;
    align-self: end;
    margin: 0px;
    width: 80%;
  }

  #topDeveloperBadge {
    justify-self: start;
  }

  #topDeveloperTitle {
    justify-self: start;
    padding-left: 5%;
  }

  #topDeveloperDesc {
    text-align: left;
  }

  #editorsChoiceBadge {
    justify-self: start;
  }

  #editorsChoiceTitle {
    justify-self: start;
    padding-left: 5%;
  }

  #editorsChoiceDesc {
    text-align: left;
  }
}
