.LPsection2 {
  margin: 10% 5%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "Section2PrefixSubSection"
    "illustration2"
    "section2Body";
  align-items: center;
  justify-items: center;
}

#Section2PrefixSubSection {
  grid-area: Section2PrefixSubSection;
  grid-template-areas:
    "section2Line section2Prefix"
    "section2Title section2Title";
}

#section2Line {
  justify-self: end;
  grid-area: section2Line;
}

#section2Prefix {
  width: 100%;
  grid-area: section2Prefix;
}

#section2Title {
  grid-area: section2Title;
}

#illustration2 {
  grid-area: illustration2;
}

#section2Body {
  grid-area: section2Body;
}

@media (min-width: 768px) {
  .LPsection2 {
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "Section2PrefixSubSection illustration2"
      "section2Body illustration2";
  }
}
