.LPsection3 {
  margin: 10% 5%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "Section3PrefixSubSection"
    "illustration3"
    "section3Body";
  align-items: center;
  justify-items: center;
}

#Section3PrefixSubSection {
  grid-area: Section3PrefixSubSection;
  grid-template-areas:
    "section3Line section3Prefix"
    "section3Title section3Title";
}

#section3Line {
  justify-self: end;
  grid-area: section3Line;
}

#section3Prefix {
  width: 100%;
  grid-area: section3Prefix;
}

#section3Title {
  grid-area: section3Title;
}

#illustration3 {
  grid-area: illustration3;
}

#section3Body {
  grid-area: section3Body;
}

@media (min-width: 768px) {
  .LPsection3 {
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "illustration3 Section3PrefixSubSection "
      "illustration3 section3Body ";
  }
}
