.LPsection6 {
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "section6SubTitle"
    "section6Title"
    "section6Desc"
    "topDeveloperBadge"
    "topDeveloperTitle"
    "topDeveloperDesc"
    "editorsChoiceBadge"
    "editorsChoiceTitle"
    "editorsChoiceDesc";
  align-items: center;
  justify-items: center;
}

#section6SubTitle {
  grid-area: section6SubTitle;
}

#section6Title {
  margin-top: 5px;
  grid-area: section6Title;
  text-align: center;
}

#section6Desc {
  margin-top: 10px;
  grid-area: section6Desc;
  text-align: center;
}

#topDeveloperBadge {
  padding: 10% 0%;
  padding-bottom: 2%;
  grid-area: topDeveloperBadge;
  width: 80%;
}

#topDeveloperTitle {
  grid-area: topDeveloperTitle;
  margin-bottom: 0px;
  display: none;
}

#topDeveloperDesc {
  grid-area: topDeveloperDesc;
  text-align: center;
  width: 80%;
}

#editorsChoiceBadge {
  padding: 10% 0%;
  padding-bottom: 2%;
  grid-area: editorsChoiceBadge;
  width: 80%;
}

#editorsChoiceTitle {
  grid-area: editorsChoiceTitle;
  margin-bottom: 0px;

  display: none;
}

#editorsChoiceDesc {
  grid-area: editorsChoiceDesc;

  width: 80%;
  text-align: center;
}

@media (min-width: 450px) {
  #topDeveloperBadge {
    width: 60%;
  }

  #editorsChoiceBadge {
    width: 60%;
  }
}

@media (min-width: 600px) {
  #topDeveloperBadge {
    width: 55%;
  }

  #editorsChoiceBadge {
    width: 55%;
  }
}

@media (min-width: 768px) {
  .LPsection6 {
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "section6SubTitle section6SubTitle"
      "section6Title section6Title"
      "section6Desc section6Desc"
      "topDeveloperBadge editorsChoiceBadge"
      "topDeveloperTitle editorsChoiceTitle"
      "topDeveloperDesc editorsChoiceDesc";
  }

  #section6Title {
    margin: 5px;
    width: 80%;
  }

  #section6Desc {
    margin: 10px;
    width: 70%;
  }

  #topDeveloperTitle {
    margin: 0px;
  }

  #editorsChoiceTitle {
    margin: 0px;
  }

  #editorsChoiceDesc {
    padding: 0% 5%;
  }

  #topDeveloperDesc {
    padding: 0% 5%;
  }
}
